/* Variables */
:root {
  --primary-color: #1495d3;
  --accent-color: #0cad98;
  --black-color-faded: rgba(0, 0, 0, 0.2);

  --zindex-dropdown: 1000;
  --zindex-sticky: 1020;
  --zindex-fixed: 1030;
  --zindex-modal-backdrop: 1040;
  --zindex-modal: 1050;
  --zindex-popover: 1060;
  --zindex-tooltip: 1070;

  --default-stripe-width: 450px;
  --default-stripe-height: 125px;

  /* Font Sizes */
  --default-font-color: #969eac;
}
